<div class="container-fluid">
  <div class="row">
    <h3 class="col-sm-4">All Questions</h3>
    <div class="col-sm-8 text-right">
      <%= link_to 'Ask Question', new_user_session_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>
  <div class="row">
    <h4 class="col-sm-4"><%= @questions.count > 1 ? "#{@questions.count} questions" : "#{@questions.count} question" %></h4>
  </div>
  <div class="row">
    <% @questions.each do |question| %>
      <div class="col-sm-4">
        <%= "#{question.answers.count} Answers" %>
      </div>
      <div class="col-sm-8">
        <%= link_to question.title, question_path(question.id) %>
        <br>
      </div>
    <% end %>
  </div>
</div>
