<div class="container">
  <div class="text-center">
    <% if current_user.present? %>
      <h2>Questions/Answers</h2>
      <%= render "/questions/questions"%>
    <% else %>
      <%= render "/questions/questions"%>
    <% end %>
  </div>
</div>
